* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/bG1.png"); /* Adjusted path */
    background-size: cover;
    background-position: top;
    margin: 0;
  }

.container3 {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container3 h1 {
    font-size: 36px;
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: 20px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.preview-image {
    width: 288px;
    height: 288px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.btn {
    padding: 15px 50px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45A049;
}
