<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniTech - Pet Breed Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-<HASH>" crossorigin="anonymous" />

</head>
<body>

    <div class="container1" >
        <div class="card card0">
          <div class="border">
            <h2>Tashi Norbu Dema</h2>
            <div class="icons">
              <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
              <a href=""><i class="fas fa-envelope" aria-hidden="true"></i></a>
              <a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              <a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="card card1">
          <div class="border">
            <h2>Sonam Yangzom</h2>
            <div class="icons">
              <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
              <a href=""><i class="fas fa-envelope" aria-hidden="true"></i></a>
              <a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              <a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="card card2">
          <div class="border">
            <h2>Tenzin Wangmo</h2>
            <div class="icons">
              <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
              <a href=""><i class="fas fa-envelope" aria-hidden="true"></i></a>
              <a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              <a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="card card3">
            <div class="border">
              <h2>Sonam Wangchuk</h2>
              <div class="icons">
                <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fas fa-envelope" aria-hidden="true"></i></a>
                <a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                <a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        

        
      </div>
</body>
</html>